<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<form action="{{ url_for('main_page') }}" method="get">
	<button type="submit">Back to Main Page</button>
</form>
<body>
    <h2>Register</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
	<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    Username: <input type="text" name="username" required><br><br>
    Password: <input type="password" name="password" required><br><br>
    <input type="submit" value="Register">
</form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</body>
</html>
